# Ignore everything inside dataset
dataset/**
!dataset/**/
!dataset/**/README
!dataset/**/README.md

__pycache__/
*.pyc
env/
venv/
*.egg-info/

model/
*.pt

repos/
test_images/

.ipynb_checkpoints/
.DS_Store
Thumbs.db

!.gitignore
!README
!README.md
